@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
body{
    background-image: linear-gradient(45deg,rgb(249, 107, 107),rgb(145, 113, 56));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    background-color: rgb(82, 28, 67);
    width: 23rem;
    height: 35rem;
    border-radius: 3rem;
    padding: 1rem;



}
.container input{
    width: 100%;
    height: 12rem;
    border: none;
    border-radius: 3rem;
    text-align: right;
    padding: .5rem;
    font-size: 2rem;
    background-color:rgb(5,5,5);
    border-radius: 3rem 3rem 0 0;
    color:rgb(235,252,238);
    pointer-events: none ;

}
.container input:focus{
    outline: none;
}
.btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}
.btn_container button{
    width: 6rem;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    box-shadow: -5px -5px 5px rgb(rgba(0, 0, 0, 0.378);
}